@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 7%;
    --foreground: 240 5% 96%;
    --card: 240 7% 11%;
    --card-foreground: 240 5% 96%;
    --popover: 240 6% 10%;
    --popover-foreground: 240 5% 96%;
    --primary: 233 100% 74%;
    --primary-foreground: 240 5% 7%;
    --secondary: 240 7% 15%;
    --secondary-foreground: 240 5% 96%;
    --muted: 240 7% 15%;
    --muted-foreground: 240 4% 65%;
    --accent: 233 23% 18%;
    --accent-foreground: 233 100% 78%;
    --destructive: 355 66% 65%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 6% 20%;
    --input: 240 5% 24%;
    --ring: 233 100% 74%;
    --radius: 1.125rem;
  }
}
