@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 33% 97%;
    --foreground: 215 26% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 26% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 26% 17%;
    --primary: 215 62% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213 33% 95%;
    --secondary-foreground: 215 26% 17%;
    --muted: 213 33% 95%;
    --muted-foreground: 215 13% 45%;
    --accent: 214 67% 94%;
    --accent-foreground: 215 62% 41%;
    --destructive: 0 45.7% 48.4%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 30% 91%;
    --input: 215 22% 82%;
    --ring: 215 62% 41%;
    --radius: 1.125rem;
  }
}
